﻿@model Development.Models.Employee

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="span12">
         <h2>
            @Model.fullName
            <span class="pull-right">Last Verification: 1/1/2012</span>
        </h2>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="span9">
        <div class="row">
            <div class="span2"><strong>Position:</strong></div>
            <div class="span7">@Model.employeePosition.name</div>
        </div>
        
        <div class="clearfix">&nbsp;</div>

        <div class="row">
            <div class="span2"><strong>Rank:</strong></div>
            <div class="span7">
                @foreach (var rank in Model.achieved_ranks)
                {
                    String.Format("{0}, ", rank);
                }
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
            
        <div class="row">
            <div class="span2"><strong>Efficency Score:</strong></div>
            <div class="span7">78</div>
        </div>
        <div class="clearfix">&nbsp;</div>

        <div class="row">
            <div class="span2"><strong>Ability Score:</strong></div>
            <div class="span7">80</div>
        </div>
        <div class="clearfix">&nbsp;</div> 
        <hr />
    </div>
    <div class="span3">
        <img src="@Url.Content("~/Content/img/sil.png")" alt="member icon" />
    </div>
</div>

<div class="row">
    <div class="span12">
         <h2>
            Rank
        </h2>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="span12">
        <p>Estimated Date To Earn Next Rank:  Mar-2012 (12 days sooner than last verification)</p>
    </div>
</div>
