﻿@model Development.Models.LogViewModel

@{
    ViewBag.Title = "Log Hours";
}

<h1>Log Hours</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="row">
    <button id="toggleHours" class="btn btn-primary">Add Hours <i class="icon-chevron-right icon-white"/> </button>
    <div id="addHours" style="display: none">
        <hr/>
        <div class="row">
    
            @using (Ajax.BeginForm(MVC.Log.Actions.AddHours(), new AjaxOptions
                                                                       {
                                                                           UpdateTargetId = "searchresults",
                                                                           HttpMethod = "POST",
                                                                           InsertionMode = InsertionMode.Replace
                                                                       }, new { @class = "form-inline", @id = "frmLogHours" }))
            {
                @Html.ValidationSummary(true)
                <p>
                    @Html.Label("Date: ")
                    @Html.TextBox("date", null, new { @class = "datepicker required" })
                </p>
                <hr />
                <input type="hidden" id="hdnRows" name="hdnRows" value="1"/>
        
                <table class="table table-striped table-bordered table-condensed" >
                    <tr>
                        <th>
                            <a href="#" class="helpPopover" rel="popover" title="Skill" data-content="This is the detailed information about this particular task and sub tasks.">Skills</a>
                        </th>
                        <th>
                            Hours
                        </th>
                        <th id="unitHeader">
                            <a href="#" id="unitHeader" class="helpPopover" rel="popover" title="Units Completed" data-content="How many UNITS did you complete personally?">Units Completed</a>
                        </th>
                        <th>
                            <a href="#" class="helpPopover" rel="popover" title="Skill Level" data-content="Which description most closely matches the work you did for this task?">Skill Level</a>
                        </th>
                        <th>
                            Rework (%)
                        </th>
                        <th>
                            Coaching (%)
                        </th>
                        <th>
                            Notes
                        </th>
                    </tr>
                    <tr id="input1" class="clonedInput">
                        <td>
                            @Html.DropDownList("skill1", Model.Presenter.Skills, "Select", new { @class = "skill required" })
                            <label for="skill1"></label>
                        </td>
                        <td>
                            <input type="text" name="hour1" id="hour1" class="hours input-small required number" />
                            <label for="hour1"></label>
                        </td>
                        <td>
                            <input type="text" name="unit1" id="unit1" class="units input-small digits"/>
                            <label class="unitLabel" id="unitLabel1"></label>
                        </td>
                        <td>
                            @Html.DropDownList("skilllevel1", Model.Presenter.SkillLevels, "Select", new { @class = "skilllevels input-small required", @disabled = "disabled", @id = "skilllevel1" }) 
                        </td>
                        <td>  
                            <input type="text" name="rework1" id="rework1" class="rework input-small percent"/>


                        </td>
                        <td>
                            <input type="text" name="coaching1" id="coaching1" class="coaching input-small percent"/>
                        </td>
                        <td>
                            @Html.TextBox("Note1", null, new { @class = "notes" })
                        </td>
                    </tr>
                </table>

                <div>
                    <input type="button" id="btnAdd" class="btn" value='Add another task >>' />   
                    <input type="button" id="btnDel" value="Remove" class="btn" />
                    <span class="pull-right">
                        <input type="submit" class="btn btn-primary" value="Submit" /> 
                    </span>
                </div>
            }
   
        </div>
    </div>
</div>
<div class="row">
    <span style="display: none">
    @if (Model.Logs.Any())
    {
        using (Ajax.BeginForm(MVC.Log.Actions.Search(),
                              new AjaxOptions
                                  {
                                      UpdateTargetId = "results",
                                      HttpMethod = "GET",
                                      InsertionMode = InsertionMode.Replace
                                  }, new { @class = "form-inline well" }))
        {     
            @Html.Label("Date")
            @Html.TextBox("date", String.Empty, new { @class = "datepicker" })
            @Html.Label("Projects")
            @Html.DropDownList("project", Model.Presenter.Projects, "Please Select")
            <input type="submit" value="Search" />
        }
    }
    </span>

    <div id="results">

        <table id="searchresults" class="table table-striped table-bordered table-condensed" >
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Task
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Units Completed
                </th>
                <th>
                    Units of Measurement
                </th>
                <th>
                    Skill Level
                </th>
                <th>
                    Rework(%)
                </th>
                <th>
                    Coaching(%)
                </th>
                <th>
                    Notes
                </th>
            </tr>

            @foreach (var item in Model.Logs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.skill.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.unitsCompleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.skill.unitOfMeasurement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.skillLevel.description)
                    </td>
                    <td>
                        @if (item.percentRework != null)
                        {
                            @Html.DisplayFor(modelItem => item.percentRework)
                            @Html.Display("%")
                        }
                    </td>
                    <td>
                        @if (item.percentCoaching != null)
                        {
                            @Html.DisplayFor(modelItem => item.percentCoaching)
                            @Html.Display("%")
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.notes)
                    </td>
                </tr>
            }
            <tr>
                <th></th>
                <th>Total</th>
                <th>@Model.TotalHours</th>
                <th></th>
                <th></th>
                <th></th>
                <th>@Model.PercentageRework%</th>
                <th>@Model.PercentageCocaching%</th>
                <th></th>
            </tr>
        </table>

    </div>
</div>

<script>
    $.validator.addClassRules("percent", { range: [0, 100] });

    $("#frmLogHours").validate();
    
</script>