﻿@model Development.ViewModels.SkillAchievementViewModel

@{
    ViewBag.Title = "Index";
    
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="row">
    @*@using (Html.BeginForm(MVC.EmployeeWithDirects.Actions.Index(), FormMethod.Post, new { @class = "form-inline well clonedInput" }))*@
    @using (Ajax.BeginForm(MVC.EmployeeWithDirects.Actions.Index(),
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "results",
                                             HttpMethod = "POST",
                                             InsertionMode = InsertionMode.Replace
                                         }, new { @class = "form-inline well clonedInput", @id = "frmLogHours" }))
    {
        @Html.ValidationSummary(true)

        @Html.LabelFor(model => model.AchievedSkill.EmployeeId)
        @Html.DropDownListFor(x => x.AchievedSkill.EmployeeId, Model.Presenter.Employees, "Please Select")
        @Html.ValidationMessageFor(model => model.AchievedSkill.EmployeeId)
@*
        @Html.Label("Min Hours")
        @Html.TextBox("tbMinHours", null, new { @class = "input-small" }) *@

        @Html.LabelFor(model => model.AchievedSkill.SkillId)
        @Html.DropDownList("skill1", Model.Presenter.Skills, "Select", new { @name = "skill1", @id = "skill1", @class = "skill required" })
        @Html.ValidationMessageFor(model => model.AchievedSkill.SkillId)

        @Html.LabelFor(model => model.AchievedSkill.SkillLevelId)
        @Html.DropDownList("skilllevel1", Model.Presenter.SkillLevels, "Select", new { @name = "skilllevel1", @class = "skilllevels", @disabled = "disabled", @id = "skilllevel1" }) 
        @Html.ValidationMessageFor(model => model.AchievedSkill.SkillId)

        <input type="submit" value="Search" />
    }
    
    @using (Html.BeginForm(MVC.EmployeeWithDirects.Actions.AddSkillAchievement(), FormMethod.Post))
    {
        
        <div id="results"></div>
    }
</div>


