﻿@model IEnumerable<Development.Models.Verification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            date
        </th>
        <th>
            unitsCompleted
        </th>
        <th>
            notes
        </th>
        <th>
            task
        </th>
        <th>
            verifiedBy
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitsCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.task.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verifiedBy.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
