﻿@model Development.Models.Log

            <tr>
                <td>
                    @Html.DisplayFor(modelModel => Model.date)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.hours)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.unitsCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.percentRework)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.percentCoaching)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.notes)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.skillLevel.description)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.skill.description)
                </td>
                <td>
                    @Html.CheckBoxFor(modelModel => Model.IsVerified)
                    @Html.HiddenFor(x => Model.id)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.verifiedBy.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelModel => Model.verifiedUnitsCompletd)
                </td>
            </tr>