﻿@model Development.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employedSince)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employedSince)
            @Html.ValidationMessageFor(model => model.employedSince)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hourlyPay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hourlyPay)
            @Html.ValidationMessageFor(model => model.hourlyPay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.notes)
            @Html.ValidationMessageFor(model => model.notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.defaultProjectId, "defaultProject")
        </div>
        <div class="editor-field">
            @Html.DropDownList("defaultProjectId", String.Empty)
            @Html.ValidationMessageFor(model => model.defaultProjectId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeePositionId, "employeePosition")
        </div>
        <div class="editor-field">
            @Html.DropDownList("employeePositionId", String.Empty)
            @Html.ValidationMessageFor(model => model.employeePositionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.supervisorId, "supervisor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("supervisorId", String.Empty)
            @Html.ValidationMessageFor(model => model.supervisorId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
