﻿@model Development.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Employee</legend>

    <div class="display-label">firstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">lastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">employedSince</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.employedSince)
    </div>

    <div class="display-label">hourlyPay</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hourlyPay)
    </div>

    <div class="display-label">notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notes)
    </div>

    <div class="display-label">defaultProject</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.defaultProject.name)
    </div>

    <div class="display-label">employeePosition</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.employeePosition.name)
    </div>

    <div class="display-label">supervisor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supervisor.firstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
