﻿@model Development.Models.Task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Task</legend>

    <div class="display-label">scheduledHours</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.scheduledHours)
    </div>

    <div class="display-label">numOfUnits</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numOfUnits)
    </div>

    <div class="display-label">notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notes)
    </div>

    <div class="display-label">project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.project.name)
    </div>

    <div class="display-label">skill</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skill.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
